:root {
  --violet-shade: #7429c6;
  --pink-shade: #c951e7;
  --maroon-shade: #672171;
  --dark-grey-shade: #4a5567;
  --light-grey-shade: #97a3b6;
  --white-shade: #f2f5f9;
  --black-shade: #030616;
}
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url(resources/bg-guess-the-word.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper {
  background-color: #171e30;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  border-radius: 1rem;
  color: var(--white-shade);
}

.header {
  margin: 0.5rem 0rem;
  width: 55%;
}
.text-jumbled {
  padding: 0.5rem 5rem;
  background-color: var(--dark-grey-shade);
  letter-spacing: 1rem;
  font-size: 2rem;
  font-weight: 600;
  box-shadow: 0px 5px 0px 0px black;
  border-radius: 0.5rem;
  margin: 1rem 0rem;
}
.tries-mistakes-sec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.925rem;
  font-weight: 500;
  margin: 0.75rem 0rem;
  width: 95%;
}
.tries-sec {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.attempts {
  margin-left: 0.35rem;
  display: flex;
}
.attempts div {
  width: 0.45rem;
  height: 0.45rem;
  border-radius: 100%;
  margin: 0rem 0.2rem;
  background-color: var(--dark-grey-shade);
  margin-top: 0.1rem;
}

.input-sec {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0rem;
}
.input-sec input {
  padding: 0.275rem 0.85rem;
  outline: 2.5px solid var(--dark-grey-shade);
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 0.35rem;
  background-color: transparent;
  border: none;
  letter-spacing: 0.25rem;
  text-align: center;
  width: 100%;
  color: var(--white-shade);
}
.input-sec input:focus {
  outline-color: var(--maroon-shade);
}

.random-reset-btn {
  width: 80%;
  display: flex;
  justify-content: center;
}
.random-reset-btn button {
  padding: 0.75rem 2rem;
  background-color: var(--pink-shade);
  border: none;
  border-radius: 0.75rem;
  color: var(--white-shade);
  font-weight: 600;
  box-shadow: 0px 3px 0px 0px var(--maroon-shade);
  margin: 0rem 1rem;
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}
